<!DOCTYPE html>
<html>
    <head>
      
    </head>
    <body>
        {{> layout/header}}
        <input type="button" name="getWeatherIngo" value="Get Weather Info" onclick="getWeatherInfo()"/>
        <textarea id="weatherInfoText" name="weatherInfo"></textarea>

        <script src="/js/common.js"></script>
    </body>
    
</html>